body{
    font-family: monospace;
}




.container{
    display: inline-block;
    font-size: 14px;
}

.info-content{
    display: block;
    text-align: start;
    cursor: default;
    padding: 10px 15px;
    width: 300px;
    
}

.name{
    display: inline;
    position: relative;
    font-weight: 100;
}


.separation{
    background-color: rgb(194, 194, 194);
    padding: .5px;
    margin-top: 10px;
}

.content{
    display: inline-block;
    text-align: center;
    text-wrap: nowrap;
    width: 300px;
    padding: 30px 15px;
    cursor: default;
}


.img{
    display: block;
    width: 300px;
    height: 190px;
    opacity: .8;
    transition: opacity 100ms;

}

.img:hover{
    opacity: 1;
}

.text{
    padding: 5px;
}


.fechas{
    display: inline;
    cursor: default;
    position: relative;

}

.links{
    color: rgb(0, 35, 190);
    cursor: pointer;
    position: relative;
    right: 5px;
}

.links:hover{
    color: rgb(0, 27, 90);
}


